# Data Scinece Tools and Ecosystem

In this Notebook all the data science tools and Ecosystem are summarized in detailed manner

**Objectives**
 - to use the markdown cell
 - to use the code cell
 - to do the arithmetic calculation
 - to use the comment 
 - to use the table 
 - to use the heading stules and formats

## Author
Parag Y

Some of the Popular Languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used liabraries by Data Scientist includes:
1. Pandas
2. Numpy
3. Scikitlearn
4. Matplotlib
5. Tensorflow
6. Seaborn
7. Apache Spark

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Jupyter Lab|
|Apache Zeplin|
|R-Studio|
|Spyder|
|Apache Spark|
|Apache Flink|
|Ray|

### Below are a few examples of evaluating arithemetic expressions in Python

In [2]:
# This is simple arithmetic expression to multiply and then add integer
(3*4)+5

17

In [3]:
# This will convert  200 minutes to hours by dividing  by 60
200/60

3.3333333333333335